:root {
    --size: 1200px;
    --item-size: 600px;
}

.revolver-slider {
    position: relative;
    width: var(--size);
    height: var(--size);
    margin: 50px auto;
    /* border-radius: 50%; */
    transform-origin: center;
    transition: 0.25s ease-in-out;
}

.rs-item {
    position: absolute;
    width: var(--item-size);
    aspect-ratio: 16/9;
    transform-origin: center;
    left: calc(50% - var(--item-size) / 2);
    top: calc(50% - calc(var(--item-size) / 2 * 9 / 16));
    @apply flex flex-col gap-2.5 items-center;
    @apply opacity-30 blur-[2px] transition-all;
    @apply cursor-pointer pointer-events-none;
}

.rs-item .rs-item__image {
    @apply relative w-full aspect-[16/9] bg-white rounded-xl p-2 overflow-hidden transition-all duration-200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.rs-item .rs-item__image img {
    @apply object-cover;
}

.rs-item .rs-item__text {
    @apply text-xs text-center flex gap-2.5 text-slate-500;
}

.rs-item .rs-item__text .name {
    @apply text-black;
}

.rs-item.active {
    @apply opacity-100 blur-0;
    @apply pointer-events-auto;
}

.rs-item.active .rs-item__image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.rs-item .rs-item__image:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.rs-item:nth-child(1) {
    transform: rotate(270deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}
.rs-item:nth-child(2) {
    transform: rotate(330deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}
.rs-item:nth-child(3) {
    transform: rotate(390deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}
.rs-item:nth-child(4) {
    transform: rotate(450deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}
.rs-item:nth-child(5) {
    transform: rotate(510deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}
.rs-item:nth-child(6) {
    transform: rotate(570deg) translate(0, calc(var(--size) / 2 * -1))
        rotate(-270deg);
}

.pop-overlay {
    @apply fixed left-0 top-0 w-screen h-screen bg-green-50/80 backdrop-blur-md transition-all;
}

.slider-wrapper {
    @apply size-full relative;
}

.slider-outer {
    @apply w-full absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%];
}

.slide-item {
    @apply size-full flex flex-col gap-3 items-center py-4;
}

.slide-image-outer {
    @apply size-full p-2 bg-white rounded-xl overflow-hidden border-2;
    @apply transition-all duration-300 delay-100 scale-90;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slide-image-inner {
    @apply relative size-full aspect-video rounded-lg overflow-hidden;
}

.slide-image-inner img {
    @apply aspect-video object-cover;
}

.slide-text {
    @apply text-sm text-gray-500 flex gap-3;
    @apply transition-all duration-500 delay-200;
    @apply translate-y-4 opacity-0;
}

.slide-text .st-name {
    @apply text-black;
}

.slide-item.slide-active .slide-image-outer {
    @apply scale-100;
}

.slide-item.slide-active .slide-text {
    @apply translate-y-0 opacity-100;
}

.nav-slider {
    @apply z-10 w-[70%] absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] flex justify-between gap-4;
}

.nav-btn {
    @apply rounded-full bg-slate-400 p-2 aspect-square text-white;
    @apply transition-all active:scale-90;
}
